<%= tag.h3 "List of #{post_author} posts :" %>
<stack-l gap-1>
  <% posts.each do |post| %>
  <my-container bordered radius0 bg0 padding1>
    <turbo-frame id="<%= "post_#{post.id}_frame" %>"
          style="display: flex; align-items: center; justify-content: 
                 space-between;">
      <details>
        <%= tag.summary post.title, style:"display: flex;"%>
        <%= tag.p post.body %>
      </details>
      <div style="display: flex; gap: 1ex;">
        <%= tag.a class: 'btn',
          href: routes.path( :edit_post, id: post.id ),
          style: 'padding: 0;' do icons[:edit] end %>

        <%= form_for :post,
          action: routes.path( :delete_post, id: post.id ),
          method: 'delete' do |f|
            f.submit icons[:trash], style:'padding: 0;', class: 'btn',

              data: { turbo_confirm: 'Are you sure ?' }
          end %>
      </div>
    </turbo-frame>
  </my-container>
  <% end %>
</stack-l>
<%= tag.a href: routes.path( :new_post ), style: "margin-top: var(--gap0);",
  class: 'btn btn-primary', data: { turbo: false } do "Add a post" end %>
