<%= tag.h3 "List of #{post_author} posts :" %>
<div style="display: flex; flex-direction: column; gap: 2ex;">
  <% posts.each do |post| %>
    <div>
      <div style="display: flex; align-items: center; justify-content: space-between; border: 1px solid #bbb; border-radius: 6px; padding: 2px 3px 1px; background-color: #eee;">
        <details>
          <%= tag.summary post.title, style:"display: flex;"%>
          <%= tag.p post.body %>
        </details>
        <div style="display: flex; align-items: start; gap: 1ex;">
          <%= tag.a class: 'btn',
            href: routes.path( :edit_post, id: post.id ),
            style: 'padding: 0;' do icons[:edit] end %>

          <%= form_for :post,
            action: routes.path( :delete_post, id: post.id ),
            method: 'delete' do |f|
              f.submit icons[:trash], style:'padding: 0;', class: 'btn'
            end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= tag.a href: routes.path( :new_post ), style: "margin-top: 3ex;",
  class: 'btn btn-primary' do "Add a post" end %>
