%h3 List of #{posts&.first&.account&.email} posts :
%ul
  - posts.each do |post|
    %li
      %div{ style: 'display: flex; align-items: baseline;' }
        %div{ style: 'display: flex; align-items: start;' }
          = form_for :post, action: routes.path( :delete_post, id: post.id ),
            method: 'delete' do |f|
            %span= f.submit "Delete", class: 'btn btn-danger'
          %a{ href: routes.path( :edit_post, id: post.id ),
          class: 'btn btn-secondary'} Edit
        %details{ style: "display: inline-block;"}
          %summary= post.title
          = post.body
%a{ href: routes.path( :new_post ), class: 'btn btn-primary'} New post
